{% extends 'html/header.html' %}
{% block title %}CRUD operation{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="card col-md-4 mx-auto">
			<h3 class="p-3 bg-primary text-center text-white mt-3">add user</h3>
			<form method="POST">
				{% csrf_token %}
				<input type="text" name="username" class="form-control my-2" placeholder="enter username">
				<input type="password" name="password" class="form-control my-2" placeholder="enter password ">
				<input type="email" name="email" class="form-control my-2" placeholder="enter email address">
				<input type="number" name="age" class="form-control my-2" placeholder="enter age">
				<input type="submit" name="sub" class="form-control btn btn-success" value="create">
			</form>
		</div>
		<div class="card col-md-7 mx-2">
			<h3 class="p-3 bg-danger text-center text-light mt-3">user details</h3>
			<table class="table table-hover">
				<tr class="bg-dark text-white">
					<td> sno</td>
					<td>username</td>
					<td>email id</td>
					<td>age</td>
					<td>actions</td>
				</tr>
				{% for i in info%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{i.username}}</td>
					<td>{{i.email}}</td>
					<td>{{i.age}}</td>
					<td><a href="" class="btn btn-info">update</a><a href="{% url 'delete' i.id %}" class= "btn btn-danger">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}