{% extends 'html/header.html' %}


{% block title %}HOME{% endblock %}

{% block content %}

<div class="container">
	<div class= "row mt-5">
       
       	<div class= "card col mt-8 mx-2">
       		<h2>Sample</h2>
       		<div class="row">
       			<div class="col-sm mx-1 jumbotron">
       				<h1>j1</h1>
       			</div>
       			<div class="col-sm mx-1 jumbotron">
       				<h2>J2</h2>
       			</div>
       			<div class="col-sm mx-1 jumbotron">
       				<h1>j3</h1>
       			</div>
       			
       		</div>
       	</div>
       		<div class = "card col mx-2">
       			<h2>sample1</h2>
       			
       		</div>
       		
  
  </div>
</div>
{% endblock %}
